<div class="col-md-4 col-md-offset-4">
    <div class="row logo">
        <img class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2" src="assets/img/apaarr1.png">
    </div>
    <div class="card">
        <div class="header">
            <h4 class="title">Register</h4>
            <p class="category">A great way to start the journey</p>
        </div>
        <div class="content">
            <div class="row">

                <div class="col-xs-12 col-md-12">
                    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                        <!--Step 1-->
                        <div *ngIf="step == 1">
                            <!--Company Name-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !companyName.valid }">
                                <label for="companyName">Company Name</label>
                                <input type="text" class="form-control border-input" name="companyName" [(ngModel)]="reg.companyName" #companyName="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !companyName.valid" class="help-block">First Name is required</div>
                            </div>
                            <!--Email ID-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                <label for="username">Email ID</label>
                                <input type="email" class="form-control border-input" name="username" [(ngModel)]="reg.username" [email]="true" #username="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !username.valid" class="help-block">Email ID is required</div>
                            </div>
                            <!--Password-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <label for="password">Password</label>
                                <input type="password" class="form-control border-input" name="password" [(ngModel)]="reg.password" #password="ngModel" required
                                />
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                            </div>
                            <!--Phone-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
                                <label for="phone">Phone</label>
                                <input type="number" class="form-control border-input" name="phone" [(ngModel)]="reg.phone" #phone="ngModel" required
                                />
                                <div *ngIf="f.submitted && !phone.valid" class="help-block">phone is required</div>
                            </div>
                        </div>
                        <!--Step 2-->
                        <div *ngIf="step == 2">
                            <!--Company Type-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !companyType.valid }">
                                <label for="companyType">Company Type</label>
                                <input type="text" class="form-control border-input" name="companyType" [(ngModel)]="reg.companyType" #companyType="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !companyType.valid" class="help-block">Specify whether sole ownership/shared/... </div>
                            </div>
                            <!--GST Number-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !registrationNumber.valid }">
                                <label for="registrationNumber">GST Number</label>
                                <input type="text" class="form-control border-input" name="registrationNumber" [(ngModel)]="reg.registrationNumber" #registrationNumber="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !registrationNumber.valid" class="help-block">GST Number is required</div>
                            </div>
                            <!--addressLine1-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressLine1.valid }">
                                <label for="addressLine1">Address Line 1</label>
                                <input type="text" class="form-control border-input" name="addressLine1" [(ngModel)]="reg.addressLine1" #addressLine1="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !addressLine1.valid" class="help-block">Address Line is required</div>
                            </div>
                            <!--addressLine2-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !addressLine2.valid }">
                                <label for="addressLine2">Address Line 2</label>
                                <input type="text" class="form-control border-input" name="addressLine2" [(ngModel)]="reg.addressLine2" #addressLine2="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !addressLine2.valid" class="help-block">Address Line is required</div>
                            </div>
                        </div>
                        <div *ngIf="step==3">
                            <!--city-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
                                <label for="city">City</label>
                                <input type="text" class="form-control border-input" name="city" [(ngModel)]="reg.city" #city="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !city.valid" class="help-block">City is required</div>
                            </div>
                            <!--region-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !region.valid }">
                                <label for="region">Region</label>
                                <input type="text" class="form-control border-input" name="region" [(ngModel)]="reg.region" #region="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !region.valid" class="help-block">Region is required</div>
                            </div>
                            <!--postalCode-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !postalCode.valid }">
                                <label for="postalCode">Postal Code/Zip Code</label>
                                <input type="text" class="form-control border-input" name="postalCode" [(ngModel)]="reg.postalCode" #postalCode="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !postalCode.valid" class="help-block">Postal Code/Zip Code is required</div>
                            </div>
                            <!--country-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !country.valid }">
                                <label for="country">Country</label>
                                <input type="text" class="form-control border-input" name="country" [(ngModel)]="reg.country" #country="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !country.valid" class="help-block">Country is required</div>
                            </div>
                        </div>
                        <div *ngIf="step == 4">
                            <!--Name-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control border-input" name="name" [(ngModel)]="reg.name" #name="ngModel"
                                    required />
                                <div *ngIf="f.submitted && !name.valid" class="help-block">First Name is required</div>
                            </div>
                            <!--About-->
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !about.valid }">
                                <label for="about">About Yourself</label>
                                <textarea class="form-control border-input" rows="6" name="about" [(ngModel)]="reg.about" #about="ngModel"
                                    required ></textarea>
                                <div *ngIf="f.submitted && !about.valid" class="help-block">Please write something here</div>
                            </div>
                            <!--image-->
                            <!--<div class="form-group">
                                <label for="filePicker">Upload your photo:</label><br>
                                <input type="file" id="filePicker" (change)="handleFileSelect($event)" required>
                            </div>-->
                        </div>
                        <div class="form-group">
                            <a class="btn btn-sm btn-default pull-left" *ngIf="step > 1" (click)="step = step - 1 ">Back</a>
                            <a class="btn btn-sm btn-primary pull-right" *ngIf="step < 4" (click)="step = step + 1 ">Next</a>
                            <button [disabled]="loading"  *ngIf="step == 4" class="btn btn-sm btn-primary pull-right">Register</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                            />
                            <a [routerLink]="['/login']" class="btn btn-sm btn-link">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>