<div class="container" *ngIf="offers">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="header">
                <h4 class="title">Processed Cashew {{off?'Offers':'Requirements'}}
                    <a *ngIf="!isNotMobile() && !edit" class="small pull-right" (click)="processedCashewPost(off?'offer':'requirement')"> Post Your {{off?'Offer':'Requirement'}} </a>
                </h4>
                <p *ngIf="!isNotMobile()" class="category"> Pick the one you interested in or
                    <a *ngIf="!edit" (click)="processedCashewPost(off?'requirement':'offer')"> post your {{off?'requirement':'offer'}} </a>
                    <a *ngIf="!edit" class="small pull-right" (click)="toggle()"> View Existing {{off?'requirements':'offers'}} </a>
                    <a *ngIf="edit" class="small pull-right" (click)="toggleOnce()"> View Existing {{off?'requirements':'offers'}} </a>
                </p>
            </div>
            <div class="content">
                <div ngClass="{{offer.expand?'col-md-12 col-xs-12':'col-md-4 col-xs-12'}}" *ngFor="let offer of offers">
                    <div class="card card-user">
                        <div class="image" *ngIf="off" (mouseover)="fullImage=true" (mouseleave)="fullImage=false">
                            <img [src]="offer.image" alt={{offer.origin}} ngClass="{{fullImage?'opace':''}}" />
                            <i class="ti-eye hoverImage" *ngIf="fullImage" (click)="viewFullScreen(offer.image)"></i>
                        </div>
                        <div class="content text-center">
                            <!--<div *ngIf="edit" class="col-md-12 col-xs-12">
                                <img class="pull-left" [src]="offer.status=='inProgress'?'assets/img/stopwatch.svg':offer.status=='approved'?'assets/img/approved-signal.svg':'assets/img/x-button.svg'" [style.width]="(offer.expand?'5':'10') + '%'"> <span class="pull-right label" ngClass="{{offer.status=='approved'?'label-success':offer.status=='inProgress'?'label-primary':'label-danger'}}"> {{offer.status}} </span>
                            </div>-->
                            <!-- Origin, Year, Nut Count, Quantity, Shipment, FOB, CIF -->
                            <div ngClass="{{offer.expand?'col-md-4 col-xs-12':'col-md-12 col-xs-12'}}">
                                <table class="table-grid">
                                    <tr>
                                        <td> Origin </td>
                                        <td> {{offer.origin}} </td>
                                    </tr>
                                    <tr>
                                        <td> Processed At</td>
                                        <td> {{offer.processedAt}} </td>
                                    </tr>    
                                    <tr>
                                        <td>Type</td>
                                        <td>{{offer.type}}</td>
                                    </tr>
                                    <tr>
                                        <td>Quantity</td>
                                        <td>{{offer.quantity}} Kgs</td>
                                    </tr>
                                    <tr>
                                        <td>Shipment</td>
                                        <td>{{offer.shipment}}</td>
                                    </tr>
                                </table>
                                <!--Origin <br> Processed At <br> Type <br> Quantity <br> Shipment-->
                            </div>
                            <!--<div ngClass="{{offer.expand?'col-md-2 col-xs-6 text-left':'col-md-6 col-xs-6 text-left'}}">
                                {{offer.origin}} <br> {{offer.processedAt}} <br> {{offer.type}} <br> {{offer.quantity}} Kgs
                                <br> {{offer.shipment}}
                            </div>-->

                            <!-- Out turn, defective, moisture, others -->
                            <div *ngIf="offer.expand" class="col-md-4 col-xs-12">
                                <table class="table-grid">
                                    <tr>
                                        <td> Grade </td>
                                        <td> {{offer.grade}} </td>
                                    </tr>
                                    <tr>
                                        <td> Defective</td>
                                        <td> {{offer.defective}}% </td>
                                    </tr>    
                                    <tr>
                                        <td>Moisture</td>
                                        <td>{{offer.moisture}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Quality</td>
                                        <td>{{offer.quality}}</td>
                                    </tr>
                                    <tr>
                                        <td>FOB</td>
                                        <td><i ngClass="{{offer.fob?'ti-check text-primary':'ti-na text-danger'}}"></i></td>
                                    </tr>
                                </table>
                                <!--Grade <br> Defective <br> Moisture <br> Quality <br> FOB
                                <br>-->
                            </div>
                            <!--<div *ngIf="offer.expand" Class="col-md-2 col-xs-6 text-left">
                                {{offer.grade}} <br> {{offer.defective}}% <br> {{offer.moisture}}% <br> {{offer.quality}}
                                <br> <i ngClass="{{offer.fob?'ti-check text-primary':'ti-na text-danger'}}"></i>
                            </div>-->

                            <!-- Packing, loading, inspection, landing port -->
                            <div *ngIf="offer.expand" class="col-md-4 col-xs-12">
                                <table class="table-grid">
                                    <tr>
                                        <td> Packing </td>
                                        <td> {{offer.packing}} </td>
                                    </tr>
                                    <tr>
                                        <td> NSLG </td>
                                        <td> {{offer.nslg}} </td>
                                    </tr>    
                                    <tr>
                                        <td>Inspection</td>
                                        <td>{{offer.inspection}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{offer.location}}</td>
                                    </tr>
                                    <tr>
                                        <td>CIF</td>
                                        <td><i ngClass="{{offer.cif?'ti-check text-primary':'ti-na text-danger'}}"></i></td>
                                    </tr>
                                </table>
                                <!--Packing <br> nslg <br> Inspection <br> Location <br> CIF
                                <br>-->
                            </div>
                            <!--<div *ngIf="offer.expand" class="col-md-2 col-xs-6 text-left">
                                {{offer.packing}} <br> {{offer.nslg}} <br> {{offer.inspection}} <br> {{offer.location}}
                                <br> <i ngClass="{{offer.cif?'ti-check text-primary':'ti-na text-danger'}}"></i>
                            </div>-->

                            <!-- Payment Terms -->
                            <div class="col-md-12 col-xs-12">
                                <b>Payment Terms </b> : <small> {{offer.paymentTerms}} </small>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                <div ngClass="{{offer.expand?'col-md-4 col-xs-4':'col-md-6 col-xs-6'}}">
                                    <h5>Rs. {{offer.price}}<br /><small>Price/Kg</small></h5>
                                </div>
                                <div *ngIf="offer.expand" class="col-md-4 col-xs-4">
                                    <h5>{{offer.createdAt | date}}<br /><small>Created At</small></h5>
                                </div>
                                <div ngClass="{{offer.expand?'col-md-4 col-xs-4':'col-md-6 col-xs-6'}}">
                                    <h5>
                                        <i class="ti-arrow-circle-right small-img" *ngIf="!offer.expand" (click)="offer.expand = true"> </i>
                                        <i class="ti-arrow-circle-left small-img" *ngIf="offer.expand" (click)="offer.expand = false"> </i>
                                        <button class="btn btn-sm btn-success" *ngIf="!edit" (click)="negotiateItem(offer._id, off?'offer':'requirement')"> Negotiate </button>
                                        <button class="btn btn-sm btn-danger" *ngIf="edit" (click)="editmethod(off?'offer':'requirement', offer)"> Edit </button>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!edit" class="btn-group dropup floating-action-button">
        <button type="button" class="btn btn-lg btn-primary btn-fill btn-circle dropdown-toggle" ngClass="{{rotate?'rotate':''}}"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="$event.stopPropagation(); rotate=!rotate"><i class="ti-plus text-default"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" ngClass="{{rotate?'showDropdown':''}}">
            <li><a class="btn btn-primary text-default" (click)="processedCashewPost('offer')"> Post Your Offer </a></li>
            <li><a class="btn btn-primary text-default" (click)="processedCashewPost('requirement')"> Post Your Requirement </a></li>
            <li><a class="btn btn-primary text-default" (click)="toggle()"> View Existing  {{off?'Requirements':'Offers'}}</a></li>
        </ul>
    </div>
</div>
<div *ngIf="!offers">
    No data found
</div>
<processed-post #processedPost> </processed-post>
<modal-image #modalImage></modal-image>