<div class="container" *ngIf="offers">
    <div class="col-md-12 removePadding">
        <div class="card card-plain">
            <div class="header">
                <h4 class="title">Processed Cashew {{off?'Offers':'Requirements'}}
                    <a *ngIf="!isNotMobile() && !edit && negotiateView == null" class="small pull-right" (click)="processedCashewPost(off?'offer':'requirement')">
                    Post Your {{off?'Offer':'Requirement'}} </a>
                </h4>
                <p class="category" *ngIf="negotiateView == null">
                    <span *ngIf="!edit && !isNotMobile()">Pick the one you interested in or </span>
                    <span *ngIf="edit"> Existing Quotes </span>
                    <a *ngIf="!edit && !isNotMobile()" (click)="processedCashewPost(off?'requirement':'offer')"> post your {{off?'requirement':'offer'}} </a>
                    <a *ngIf="!edit && !isNotMobile()" class="small pull-right" (click)="toggle()"> View Existing {{off?'requirements':'offers'}} </a>
                    <a *ngIf="edit" class="small pull-right" (click)="toggleOnce()"> View {{edit?'Your':'Existing'}} {{off?'requirements':'offers'}} </a>
                </p>
                <div *ngIf="!edit && negotiateView == null">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Origin
                            <span class="caret"></span>
                        </button>
                        <ul class="menu dropdown-menu">
                            <!--<li>
                                <input type="checkbox" (click)="toggleAll('origin',$event)" checked=true> All
                            </li>-->
                            <li *ngFor="let origin of origin">
                                <input type="checkbox" (click)="onSelect('origin',origin,$event)"> {{origin}}
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Processed At
                            <span class="caret"></span>
                        </button>
                        <ul class="menu dropdown-menu">
                            <!--<li>
                                <input type="checkbox" (click)="toggleAll('processedAt',$event)" checked=true> All
                            </li>-->
                            <li *ngFor="let processedAt of processedAt">
                                <input type="checkbox" (click)="onSelect('processedAt',processedAt,$event)"> {{processedAt}}
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type
                            <span class="caret"></span>
                        </button>
                        <ul class="menu dropdown-menu">
                            <!--<li>
                                <input type="checkbox" (click)="toggleAll('type',$event)" checked=true> All
                            </li>-->
                            <li *ngFor="let type of type">
                                <input type="checkbox" (click)="onSelect('type',type,$event)"> {{type}}
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Grade
                            <span class="caret"></span>
                        </button>
                        <ul class="menu dropdown-menu">
                            <!--<li>
                                <input type="checkbox" (click)="toggleAll('grade',$event)" checked=true> All
                            </li>-->
                            <li *ngFor="let grade of grade">
                                <input type="checkbox" (click)="onSelect('grade',grade,$event)"> {{grade}}
                            </li>
                        </ul>
                    </div>
                    <br>
                    <small style="margin-top: 2px">
                        <span style="margin-right: 2px" class="label label-default" *ngFor="let s of selected"> {{s.category}}: {{s.value}}
                            <!--<span (click)="onSelect(s.category,s.value,false)"> &times; </span> -->
                        </span>
                    </small>
                </div>
            </div>
            <div class="content" *ngIf="offers.length">
                <div ngClass="{{offer.expand?'col-md-12 col-xs-12 removePadding':'col-md-4 col-xs-12 removePadding'}}" *ngFor="let offer of offers">
                    <div class="card card-user">
                        <div class="author" *ngIf="off" (mouseover)="offer.fullImage=true" (mouseleave)="offer.fullImage=false">
                            <img class="avatar border-white" *ngIf="offer.image && offer.image!=''" style="text-align: center" [src]="offer.image" alt={{offer.origin}}
                                ngClass="{{offer.fullImage?'opace':''}}" (click)="viewFullScreen(offer.image)" />
                            <img class="avatar border-white" src="/assets/img/image_default.jpg" *ngIf="!offer.image && offer.image==''">
                            <!-- <i class="ti-eye hoverImage" *ngIf="fullImage" (click)="viewFullScreen(offer.image)"></i> -->
                        </div>
                        <div class="content text-center">
                            <!--<div *ngIf="edit" class="col-md-12 col-xs-12">
                                <img class="pull-left" [src]="offer.status=='inProgress'?'assets/img/stopwatch.svg':offer.status=='approved'?'assets/img/approved-signal.svg':'assets/img/x-button.svg'" [style.width]="(offer.expand?'5':'10') + '%'"> <span class="pull-right label" ngClass="{{offer.status=='approved'?'label-success':offer.status=='inProgress'?'label-primary':'label-danger'}}"> {{offer.status}} </span>
                            </div>-->
                            <!-- Origin, Year, Nut Count, Quantity, Shipment, FOB, CIF -->
                            <div ngClass="{{offer.expand?'col-md-4 col-xs-12':'col-md-12 col-xs-12'}}">
                                <table class="table-grid">
                                    <tr>
                                        <td> Origin </td>
                                        <td ngClass="{{!offer.expand?'overflowItem':''}}"> {{offer.origin}} </td>
                                    </tr>
                                    <tr>
                                        <td> Processed At</td>
                                        <td ngClass="{{!offer.expand?'overflowItem':''}}"> {{offer.processedAt}} </td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td ngClass="{{!offer.expand?'overflowItem':''}}">{{offer.type}}</td>
                                    </tr>
                                    <tr>
                                        <td> Grade </td>
                                        <td ngClass="{{!offer.expand?'overflowItem':''}}"> {{offer.grade}} </td>
                                    </tr>
                                    <tr>
                                        <td>Quantity</td>
                                        <td ngClass="{{!offer.expand?'overflowItem':''}}">{{offer.quantity}} Kgs</td>
                                    </tr>
                                </table>
                                <!--Origin <br> Processed At <br> Type <br> Quantity <br> Shipment-->
                            </div>
                            <!--<div ngClass="{{offer.expand?'col-md-2 col-xs-6 text-left':'col-md-6 col-xs-6 text-left'}}">
                                {{offer.origin}} <br> {{offer.processedAt}} <br> {{offer.type}} <br> {{offer.quantity}} Kgs
                                <br> {{offer.shipment}}
                            </div>-->

                            <!-- Out turn, defective, moisture, others -->
                            <div *ngIf="offer.expand" class="col-md-4 col-xs-12">
                                <table class="table-grid">
                                    <tr>
                                        <td>Shipment</td>
                                        <td>{{offer.shipment}}</td>
                                    </tr>
                                    <tr>
                                        <td> Defective</td>
                                        <td> {{offer.defective}}% </td>
                                    </tr>
                                    <tr>
                                        <td>Moisture</td>
                                        <td>{{offer.moisture}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Quality</td>
                                        <td>{{offer.quality}}</td>
                                    </tr>
                                    <tr>
                                        <td>FOB</td>
                                        <td>
                                            <i ngClass="{{offer.fob?'ti-check text-primary':'ti-na text-danger'}}"></i>
                                        </td>
                                    </tr>
                                </table>
                                <!--Grade <br> Defective <br> Moisture <br> Quality <br> FOB
                                <br>-->
                            </div>
                            <!--<div *ngIf="offer.expand" Class="col-md-2 col-xs-6 text-left">
                                {{offer.grade}} <br> {{offer.defective}}% <br> {{offer.moisture}}% <br> {{offer.quality}}
                                <br> <i ngClass="{{offer.fob?'ti-check text-primary':'ti-na text-danger'}}"></i>
                            </div>-->

                            <!-- Packing, loading, inspection, landing port -->
                            <div *ngIf="offer.expand" class="col-md-4 col-xs-12">
                                <table class="table-grid">
                                    <tr>
                                        <td> Packing </td>
                                        <td> {{offer.packing}} </td>
                                    </tr>
                                    <tr>
                                        <td> NSLG </td>
                                        <td> {{offer.nslg}} </td>
                                    </tr>
                                    <tr>
                                        <td>Inspection</td>
                                        <td>{{offer.inspection}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{offer.location}}</td>
                                    </tr>
                                    <tr>
                                        <td>CIF</td>
                                        <td>
                                            <i ngClass="{{offer.cif?'ti-check text-primary':'ti-na text-danger'}}"></i>
                                        </td>
                                    </tr>
                                </table>
                                <!--Packing <br> nslg <br> Inspection <br> Location <br> CIF
                                <br>-->
                            </div>
                            <!--<div *ngIf="offer.expand" class="col-md-2 col-xs-6 text-left">
                                {{offer.packing}} <br> {{offer.nslg}} <br> {{offer.inspection}} <br> {{offer.location}}
                                <br> <i ngClass="{{offer.cif?'ti-check text-primary':'ti-na text-danger'}}"></i>
                            </div>-->

                            <!-- Payment Terms -->
                            <div class="col-md-12 col-xs-12">
                                <b>Payment Terms </b> :
                                <small ngClass="{{!offer.expand?'overflow':''}}"> {{offer.paymentTerms}} </small>
                                <br>
                                <a *ngIf="!offer.expand" class="pull-left" (click)="offer.expand = true">
                                    <small>
                                        <i class="ti-arrow-circle-right small-img"> </i> View More </small>
                                </a>
                                <a *ngIf="offer.expand" class="pull-left" (click)="offer.expand = false">
                                    <small>
                                        <i class="ti-arrow-circle-left small-img"> </i> View Less </small>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <div class="row">
                                <div ngClass="{{offer.expand?'col-md-4 col-xs-4':'col-md-6 col-xs-6'}}">
                                    <h5>{{offer.currency}} {{offer.price}}
                                        <br />
                                        <small>Price/Kg</small>
                                    </h5>
                                </div>
                                <div *ngIf="offer.expand" class="col-md-4 col-xs-4">
                                    <h5>{{offer.createdAt | date}}
                                        <br />
                                        <small>Created At</small>
                                    </h5>
                                </div>
                                <div ngClass="{{offer.expand?'col-md-4 col-xs-4':'col-md-6 col-xs-6'}}">
                                    <h5>
                                        <span *ngIf="negotiateView!=null" class="text-primary"> {{offer.status}} </span>
                                        <button class="btn btn-sm btn-success" *ngIf="!edit && negotiateView == null" (click)="negotiateItem(offer._id, offer, off?'offer':'req')">
                                        Negotiate </button>
                                        <button class="btn btn-sm btn-danger" *ngIf="edit && negotiateView == null" (click)="editmethod(off?'offer':'requirement', offer)">
                                        Edit </button>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" *ngIf="!offers.length && negotiateView == null">
                No data found.
                <span *ngIf="edit"> Post Something to view here </span>
                <span *ngIf="!edit"> Will get something for you shortly </span>
            </div>
            <div class="content" *ngIf="!offers.length && negotiateView != null">
                No Negotiations done so far
            </div>
        </div>
    </div>
    <div *ngIf="!edit && negotiateView == null" class="btn-group dropup floating-action-button">
        <button type="button" class="btn btn-lg btn-primary btn-fill btn-circle dropdown-toggle" ngClass="{{rotate?'rotate':''}}"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="$event.stopPropagation(); rotate=!rotate">
            <i class="ti-plus text-default"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" ngClass="{{rotate?'showDropdown':''}}">
            <li>
                <a class="btn btn-primary text-default" (click)="processedCashewPost('offer')"> Post Your Offer </a>
            </li>
            <li>
                <a class="btn btn-primary text-default" (click)="processedCashewPost('requirement')"> Post Your Requirement </a>
            </li>
            <li>
                <a class="btn btn-primary text-default" (click)="toggle()"> View Existing {{off?'Requirements':'Offers'}}</a>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="!offers">
    No data found
</div>
<processed-post #processedPost> </processed-post>
<modal-image #modalImage></modal-image>