<div class="container">
    <div class="col-md-12 removePadding">
        <div class="card card-plain">
            <div class="header">
                <h4 class="title">Raw Cashew {{off?'Offers':'Requirements'}}
                    <a *ngIf="!isNotMobile() && !edit" class="small pull-right" (click)="rawCashewPost(off?'offer':'requirement')"> Post Your {{off?'Offer':'Requirement'}} </a>
                </h4>
                <p class="category">
                    <span *ngIf="!edit && !isNotMobile()">Pick the one you interested in or </span>
                    <span *ngIf="edit"> Existing Quotes </span>
                    <a *ngIf="!edit && !isNotMobile()" (click)="rawCashewPost(off?'requirement':'offer')"> post your {{off?'requirement':'offer'}} </a>
                    <a *ngIf="!edit && !isNotMobile()" class="small pull-right" (click)="toggle()"> View Existing {{off?'requirements':'offers'}} </a>
                    <a *ngIf="edit" class="small pull-right" (click)="toggleOnce()"> View Existing {{off?'requirements':'offers'}} </a>
                </p>
            </div>
            <div class="content" *ngIf="offers.length">
                <div ngClass="{{offer.expand?'col-md-12 col-xs-12 removePadding':'col-md-4 col-xs-12 removePadding'}}" *ngFor="let offer of offers">
                    <div class="card card-user">
                        <div class="content text-center">
                            <!--<div *ngIf="edit" class="col-md-12 col-xs-12">
                                <img class="pull-left" [src]="offer.status=='inProgress'?'assets/img/stopwatch.svg':offer.status=='approved'?'assets/img/approved-signal.svg':'assets/img/x-button.svg'" [style.width]="(offer.expand?'5':'10') + '%'"> <span class="pull-right label" ngClass="{{offer.status=='approved'?'label-success':offer.status=='inProgress'?'label-primary':'label-danger'}}"> {{offer.status}} </span>
                            </div>-->

                            <!-- Origin, Year, Nut Count, Quantity, Shipment, FOB, CIF -->
                            <div ngClass="{{offer.expand?'col-md-4 col-xs-12':'col-md-12 col-xs-12'}}">
                                <table class="table-grid">
                                    <tr>
                                        <td> Origin </td>
                                        <td> {{offer.origin}} </td>
                                    </tr>
                                    <tr>
                                        <td>Year of crop</td>
                                        <td> {{offer.year}} </td>
                                    </tr>
                                    <tr>
                                        <td>Nut Count</td>
                                        <td>{{offer.nutCount}}</td>
                                    </tr>
                                    <tr>
                                        <td>Quantity</td>
                                        <td>{{offer.quantity}} Kgs</td>
                                    </tr>
                                    <tr>
                                        <td>Shipment</td>
                                        <td>{{offer.shipment}}</td>
                                    </tr>
                                </table>
                                <!--Origin <br> Year Of Crop <br> Nut Count <br> Quantity
                                <br> Shipment-->
                            </div>
                            <!--<div ngClass="{{offer.expand?'col-md-2 col-xs-6 text-left':'col-md-6 col-xs-6 text-left'}}">
                                {{offer.origin}} <br> {{offer.year}} <br> {{offer.nutCount}} <br> {{offer.quantity}} Kgs
                                <br> {{offer.shipment}}
                            </div>-->

                            <!-- Out turn, defective, moisture, others -->
                            <div *ngIf="offer.expand" class="col-md-4 col-xs-12">
                                <table class="table-grid">
                                    <tr>
                                        <td> Out-turn </td>
                                        <td> {{offer.outTurn}}% </td>
                                    </tr>
                                    <tr>
                                        <td>Defective</td>
                                        <td> {{offer.defective}}% </td>
                                    </tr>
                                    <tr>
                                        <td>Moisture</td>
                                        <td>{{offer.moisture}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Others</td>
                                        <td>{{offer.others}}%</td>
                                    </tr>
                                    <tr>
                                        <td>FOB</td>
                                        <td><i ngClass="{{offer.fob?'ti-check text-primary':'ti-na text-danger'}}"></i></td>
                                    </tr>
                                </table>
                                <!--Out-turn <br> Defective <br> Moisture <br> Others <br> FOB
                                <br>-->
                            </div>
                            <!--<div *ngIf="offer.expand" Class="col-md-2 col-xs-6 text-left">
                                {{offer.outTurn}}% <br> {{offer.defective}}% <br> {{offer.moisture}}% <br> {{offer.others}}%
                                <br> <i ngClass="{{offer.fob?'ti-check text-primary':'ti-na text-danger'}}"></i>
                            </div>-->

                            <!-- Packing, loading, inspection, landing port -->
                            <div *ngIf="offer.expand" class="col-md-4 col-xs-12">
                                <table class="table-grid">
                                    <tr>
                                        <td> Packing </td>
                                        <td> {{offer.packing}} </td>
                                    </tr>
                                    <tr>
                                        <td>Loading</td>
                                        <td> {{offer.loading}} </td>
                                    </tr>
                                    <tr>
                                        <td>Inspection</td>
                                        <td>{{offer.inspection}}</td>
                                    </tr>
                                    <tr>
                                        <td>Landing Port</td>
                                        <td>{{offer.landingPort}}</td>
                                    </tr>
                                    <tr>
                                        <td>CIF</td>
                                        <td><i ngClass="{{offer.cif?'ti-check text-primary':'ti-na text-danger'}}"></i></td>
                                    </tr>
                                </table>
                                <!--Packing <br> Loading <br> Inspection <br> Landing Port <br> CIF
                                <br>-->
                            </div>
                            <!--<div *ngIf="offer.expand" class="col-md-2 col-xs-6 text-left">
                                {{offer.packing}} <br> {{offer.loading}} <br> {{offer.inspection}} <br> {{offer.landingPort}}
                                <br> <i ngClass="{{offer.cif?'ti-check text-primary':'ti-na text-danger'}}"></i>
                            </div>-->

                            <!-- Payment Terms -->
                            <div class="col-md-12 col-xs-12">
                                <b>Payment Terms </b> : <small> {{offer.paymentTerms}} </small>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="row">
                                <div ngClass="{{offer.expand?'col-md-4 col-xs-4':'col-md-6 col-xs-6'}}">
                                    <h5>Rs. {{offer.price}}<br /><small>Price/Kg</small></h5>
                                </div>
                                <div *ngIf="offer.expand" class="col-md-4 col-xs-4">
                                    <h5>{{offer.createdAt | date}}<br /><small>Created At</small></h5>
                                </div>
                                <div ngClass="{{offer.expand?'col-md-4 col-xs-4':'col-md-6 col-xs-6'}}">
                                    <h5>
                                        <i class="ti-arrow-circle-right small-img" *ngIf="!offer.expand" (click)="offer.expand = true"> </i>
                                        <i class="ti-arrow-circle-left small-img" *ngIf="offer.expand" (click)="offer.expand = false"> </i>
                                        <button class="btn btn-sm btn-success" *ngIf="!edit" (click)="negotiateItem(offer._id, off?'offer':'requirement')"> Negotiate </button>
                                        <button class="btn btn-sm btn-danger" *ngIf="edit" (click)="editmethod(off?'offer':'requirement', offer)"> Edit </button>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" *ngIf="!offers.length">
                No data found. <span *ngIf="edit"> Post Something to view here </span>
                <span *ngIf="!edit"> Will get something for you shortly </span>
            </div>
        </div>
    </div>
    <div *ngIf="!edit" class="btn-group dropup floating-action-button">
        <button type="button" class="btn btn-lg btn-primary btn-fill btn-circle dropdown-toggle" ngClass="{{rotate?'rotate':''}}"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="$event.stopPropagation(); rotate=!rotate"><i class="ti-plus text-default"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" ngClass="{{rotate?'showDropdown':''}}">
            <li><a class="btn btn-primary text-default" (click)="rawCashewPost('offer')"> Post Your Offer </a></li>
            <li><a class="btn btn-primary text-default" (click)="rawCashewPost('requirement')"> Post Your Requirement </a></li>
            <li><a class="btn btn-primary text-default" (click)="toggle()"> View Existing  {{off?'Requirements':'Offers'}}</a></li>
        </ul>
    </div>
</div>
<raw-post #rawPost> </raw-post>