<div class="wrapper">
    <div *ngIf="notLoggedIn()">
        <div ngClass="{{change?'sideChange':''}}" class="sidebar" data-background-color="white" data-active-color="danger">
            <sidebar-cmp (event)="sideBarChange($event)"></sidebar-cmp>
        </div>
    </div>
    <div ngClass="{{notLoggedIn()?(change?'main-panel changePanelWidth':'main-panel emptyCheck'):'main-panel main-panel-delete'}}">
        <navbar-cmp *ngIf="notLoggedIn()"></navbar-cmp>
        <div class="content">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
        <!--<footer-cmp></footer-cmp>-->
    </div>
</div>
<!--<fixedplugin-cmp></fixedplugin-cmp>-->
<app-loading></app-loading>