.main-panel-delete {
    float: none !important;
    width: auto !important;
    background-image:url("/assets/img/backgroundsmall.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}