.main-panel-delete {
    float: none !important;
    width: auto !important;
    background-image:url(../assets/img/background1.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}