<div bsModal #childModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!--<div class="modal-header">
                <h4 class="modal-title">{{header}}
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                </h4>
            </div>-->
            <div class="modal-body">
                <img [src]="image" alt="apaarr"/>
            </div>
        </div>
    </div>
</div>