<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://www.apaarr.com">
                        APAARR
                    </a>
                </li>
                <li>
                    <a href="https://www.apaarr.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="http://technology.vishalsrini.com">Vishal Srinivasan</a>
        </div>
    </div>
</footer>
